$primary-color: #265888;
$background-color: #fff;
$body-text-color: #333;
$twitter-color: #1DA1F2;


@mixin m-absolute-positioner( $top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

body {
  background-color: $background-color;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

// Control Font Weights
p {
  font-weight: 300;
}

.label {
  font-weight: 400;
}

// Edit Jumbotron Defaults

.jumbotron {
  background-color: transparent;
  border-bottom: 2px solid silver;
  border-radius: 0 !important;
  display: flex;
  align-items: start;
  justify-content: space-around;
  @media ( min-width: 1200px ) {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

  .jumbotron-logo {
    margin: 20px;
    @media (min-width: 768px) {
      margin: 32px;
      width: 20%;
    }
    @media ( min-width: 1200px ) {
      width: 15%;
    }
  }


//  Customize Sort and Filter Buttons

.sort-options {
  margin-top: 2rem;
}

.btn.mod-sort,
.btn.mod-filter {
  background-image: linear-gradient(to bottom, $background-color 0%, $background-color 100%);
  color: $primary-color;
  text-shadow: none;
  &:active,
  &:focus,
  &:hover {
    background-image: linear-gradient(to bottom, #337ab7 0%, $primary-color 100%);
    color: $background-color;
  }
}

.panel {
  border: none;
  box-shadow: none;
  text-align: center;
  @media ( min-width: 768px ) {
    height: 50rem;
  }
}
  .img-wrapper {
    margin: 1rem auto 0;
    overflow: hidden;
    position: relative;
    height: 30rem;
  }

    .img-wrapper.mod-modal {
      height: 40rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .img {
      height: 100%
    }

  .info-wrapper {
      height: 7rem;
      @media ( min-width: 992px ) {
        height: 9rem;
      }
    }

    .label:nth-of-type( 2n ) {
      margin: 0 0.5rem;
    }

.panel-title {
      font-size: 1.25em;
      font-weight: bolder;
    }

  .button-wrapper {
    background-color: $background-color;
    border: none;
  }

    .btn.mod-twitter {
      background-image: linear-gradient(to bottom, lighten( $twitter-color, 12.5% ) 0%, $twitter-color 100%);
      color: $background-color;
      margin-left: 0.75rem;
      &:hover {
        background-color: $twitter-color;
        background-image: linear-gradient(to bottom, $twitter-color 0%, $twitter-color 100%);
      }
    }



// Bootstrap utility class not included in this build
.sticky-top {
  @media ( min-width: 768px ) {
    position: sticky;
    top: 2rem;
  }
}

// Quickie Utility Classes
.mb0 {
  margin-bottom: 0;
}