body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

p {
  font-weight: 300; }

.label {
  font-weight: 400; }

.jumbotron {
  background-color: transparent;
  border-bottom: 2px solid silver;
  border-radius: 0 !important;
  display: flex;
  align-items: start;
  justify-content: space-around; }

.jumbotron-logo {
  margin: 20px; }
  @media (min-width: 768px) {
    .jumbotron-logo {
      margin: 32px;
      width: 20%; } }
  @media (min-width: 1200px) {
    .jumbotron-logo {
      width: 15%; } }

.sort-options {
  margin-top: 2rem; }

.btn.mod-sort,
.btn.mod-filter {
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  color: #265888;
  text-shadow: none; }
  .btn.mod-sort:active, .btn.mod-sort:focus, .btn.mod-sort:hover,
  .btn.mod-filter:active,
  .btn.mod-filter:focus,
  .btn.mod-filter:hover {
    background-image: linear-gradient(to bottom, #337ab7 0%, #265888 100%);
    color: #fff; }

.panel {
  border: none;
  box-shadow: none;
  text-align: center; }
  @media (min-width: 768px) {
    .panel {
      height: 50rem; } }

.img-wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 30rem; }

.img-wrapper.mod-modal {
  height: 40rem;
  margin-bottom: 2rem;
  text-align: center; }

.img {
  height: 100%; }

.info-wrapper {
  height: 7rem; }
  @media (min-width: 992px) {
    .info-wrapper {
      height: 9rem; } }

.label:nth-of-type(2n) {
  margin: 0 0.5rem; }

.panel-title {
  font-size: 1.25em;
  font-weight: bolder; }

.button-wrapper {
  background-color: #fff;
  border: none; }

.btn.mod-twitter {
  background-image: linear-gradient(to bottom, #59baf5 0%, #1DA1F2 100%);
  color: #fff;
  margin-left: 0.75rem; }
  .btn.mod-twitter:hover {
    background-color: #1DA1F2;
    background-image: linear-gradient(to bottom, #1DA1F2 0%, #1DA1F2 100%); }

@media (min-width: 768px) {
  .sticky-top {
    position: sticky;
    top: 2rem; } }

.mb0 {
  margin-bottom: 0; }
